<h4>Todo Items</h4>
<div class="flex items-center">
  <label>Item name</label>
  <input matInput autocomplete="off" [(ngModel)]="newItemName" />
  <button type="button" mat-raised-button color="primary" (click)="addItem()">
    Add
  </button>
</div>

<ul role="list">
  <li
    [class.is-done]="item.isDone"
    role="listItem"
    *ngFor="let item of todoItems$ | async; trackBy: trackById"
  >
    <div class="flex items-center">
      <input
        type="checkbox"
        [checked]="item.isDone"
        (change)="toggleItem(item)"
      />
      {{ item.title }}
    </div>
  </li>
</ul>
